<a href="https://colab.research.google.com/github/ulises1229/Intro-ML-Python/blob/master/code/dia1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Día 1 - Curso-Taller: Introducción al aprendizaje de máquinas con Python
+ ##### Autor: Ulises Olivares
+ ##### uolivares@unam.mx
+ ##### 24 de enero de 2022

In [3]:
# Mezclando strings con números
a = 5
b = 5

print("El valor de a es: " + str(a))

El valor de a es: 5
El valor de a es: 5

#### Ejercicio 1

In [ ]:
#Ingresando flujos desde teclado
# Ejercicio 1
num1 = float(input("Ingresa un primer número:"))
num2 = float(input("Ingresa un segundo número:"))
#opc = int(input("Selecciona la operación deseada 
#        \n 1) Suma \n 2) Resta, \n 3) Multiplicación"))
suma = num1 + num2
print("La resta es: " + str(suma))
type(suma)

Ingresa un primer número:1
Ingresa un segundo número:2
La resta es: -1.0

float

#### Cadenas

In [ ]:
# Cadenas de carácteres
# Indices 
cad = "Curso Python"
dim = len(cad)
print("Dimensión de la cadena: " + str(dim))

# Imprimir el inicio de la cadena hasta la posición 7
print(cad[:7])

# Funciones para strings
# Transformar a mayúsculas
print(cad.upper())
cad = cad.upper()

# Transformar la cadena a minúsculas
print(cad.lower())

# Transformar cadena a tipo oración
print(cad.title())

# Reemplazar una palabra por otra.
print(cad.replace("CURSO", "Taller"))

# Cadena de email.
email = "uolivares@unam.mx"

# Separar cadenas usando la función split
print(email.split("@"))
sep = email.split("@")

# Imprimir primer posición del primer  elemento 
print(sep[0][0])

Dimensión de la cadena: 12
Curso P
CURSO PYTHON
curso python
Curso Python
Taller PYTHON
['uolivares', 'unam.mx']
u

#### Ejercicio 2

In [ ]:
# Ejercicio #2
nombre = input("Ingresa el nombre completo: \n")
Edad = input("Ingresa la edad: \n")
sexo = input("Ingresa el sexo Masculino/Femenino: \n")

nombre = nombre.split()
print("Las iniciales son: " + nombre[0][0] + nombre[1][0] + nombre [2][0])
print("El sexo es: " + sexo.replace("Masculino", "M"))
print("El nombre en formato AP, AM, Nombre es: " + nombre[-2] +" " + nombre[-1]  + " "+ nombre[-3])

Ingresa el nombre completo:
Ulises Olivares Pinto
Ingresa la edad:
32
Ingresa el sexo Masculino/Femenino:
Masculino
Las iniciales son: UOP
El sexo es: M
El nombre en formato AP, AM, Nombre es: Olivares Pinto Ulises

#### Listas

In [ ]:
# Listas 
lista = [1,1,10,8, 4, 15, 6, 70, 18, 9, 10]
print(lista)

# Verificar la pertenencia de un elemento
print(0 in lista)

# Ordenar una lista
lista.sort()

# Insertar un elemento en una lista
lista.insert(len(lista),0)
print(lista)

# Eliminar un elemento en una lista
lista.remove(0)
print(lista)

# Eliminar el último elemento de la lista
lista.pop()
print(lista)

# contar el número de 1s en una lista
print("Existe un total de: " + str(lista.count(1)) + " de 1's en la lista")

[1, 1, 10, 8, 4, 15, 6, 70, 18, 9, 10]
False
[1, 1, 4, 6, 8, 9, 10, 10, 15, 18, 70, 0]
[1, 1, 4, 6, 8, 9, 10, 10, 15, 18, 70]
[1, 1, 4, 6, 8, 9, 10, 10, 15, 18]
Existe un total de: 2 de 1's en la lista

#### Ejercicio 3 - Listas

In [ ]:
# Ejercicio 3 Separar elementos por tipo y ordenarlos
objetos = ["zapato", "laptop", 20, 12, 30]

# Separar los elementos utilizando índices
cad = objetos[0:2]
enteros = objetos[2:5] 

# Ordenar elementos
cad.sort()
print(cad)

enteros.sort()
print(enteros)

['laptop', 'zapato']
[12, 20, 30]

#### Ejercicio 4 - Tuplas

In [ ]:
#### Ejercicio 4 Tuplas

import statistics as st

cal = (8, 9, 5, 10, 8, 7.2, 9, 8, 8, 10)

# Obtener el promedio de las calificaciones
promedio = sum(cal) / len(cal)
print("El promedio de las calificaciones es: " + str(promedio))

# Obtener la calificación máxima
print("La calificación máxima es: " + str(max(cal)))

# Obtener la calificación mínima
print("La calificación máxima es: " + str(min(cal)))

# Obtener la moda usar librería statistics
print("La moda es: " + str(st.mode(cal)))

# Ordenar calificaciones
print("Calificaciones ordenadas menor a mayor: " + str(sorted(cal)))

El promedio de las calificaciones es: 8.22
La calificación máxima es: 10
La calificación máxima es: 5
La moda es: 8
Calificaciones ordenadas menor a mayor: [5, 7.2, 8, 8, 8, 8, 9, 9, 10, 10]

#### Ejercicicio 5 - Conjuntos

In [ ]:
# Conjnuntos 
# Ejercicio 4

set1 = {10, 20, 30, 40, 50}
set2 = {60, 20, 80, 90, 10}

type(set1)

# Elementos en común 
print ("Elementos en común: " +str(set1 & set2))

# Elementos si repeticiones (Unión)
print("Elementos sin repetición: " + str(set1|set2))

# Primer conjunto sin elementos {10,20, 30}
print(set1 - {10, 20, 30})

#### Sentencias de control

##### Condicionales

In [ ]:
# Sentencias de control
# Condicionales IF...ELSE...ELIF
a = 2
b = 2
if(a == b):
  print("a y b son iguales")
elif(a>b):
  print("a es el mayor")
else:
  print("b es el mayor")

a !=0
a y b son iguales

Ejercicio 6 - Condicionales

In [ ]:
# Determinar si un número es par o impar
a = 3
if (a % 2 ==  0):
  print(str(a) + " es un número par")
else:
  print(str(a) + " es un número impar")

a = 3
b = 2

# Determinar el Mayor de dos números
if(b>a):
  print("b es el mayor")
elif(a == b):
  print("a y b son iguales")
else:
  print("a es el mayor")

a = 4
b = 2 
c = 3

# Determinar el Mayor de tres números
if(a >= b and a >= c):
  print("a es el mayor")
elif(b >= a and b >= c):
  print("b es el mayor")
elif(c >= a and c >=b ):
  print("c es el mayor")
  
# Deterinar si un número se encuentra en un intervalo [0, 10]
a = 20
if(a >= 0 and a <= 10):
  print("El elemento " +str(a) + " se encuentra dentro del intervalo [0, 10]")
else:
  print("El elemento " +str(a) + " se encuentra fuera del intervalo [0, 10]")

3 es un número impar
a es el mayor
a es el mayor
El elemento 20 se encuentra fuera del intervalo [0, 10]

#### Ejercicio 7 - Ciclos While (Serie de Fibonacci)

In [ ]:
# Serie de fibonacci
def fibonacci(n):
  a = 0 
  b = 1
  print("Imprime la serie de Fibonacci hasta n = " + str(n))
  cont = 0
  while(cont<n):
    tmp = b 
    b = a + b
    a = tmp
    print(b, end=", ")
    cont +=1

fibonacci(10)

Imprime la serie de Fibonacci hasta n = 10
1, 2, 3, 5, 8, 13, 21, 34, 55, 89,

##### Ejercicio 8 - Ciclos FOR

In [ ]:
# Ciclos FOR
lista = [6,2,3,4,5,6,70,8,9,-10]

# Sumatoria de los elementos
suma = 0
for elemento in lista:
  suma += elemento
print("La sumatoria de todos los elementos es: " + str(suma)) 

suma = 0
# Iterar utilizando índices
for i in range(len(lista)):
  suma += lista[i]
print("La sumatoria de todos los elementos es: " + str(suma)) 

# Calcular el promedio de los elementos
suma = 0
for elemento in lista:
  suma += elemento
print("El promedio de la lista es: " + str(suma/len(lista)))

# Obtener el elemento más pequeño y más grande
min = 99999   # Inicializar con un valor muy grande
max = -9999 # Inicializar con un valor muy pequeño
for elemento in lista:
  if elemento < min:
    min = elemento
  if elemento > max:
    max = elemento
print("El número menor de la lista es : " + str(min))
print("El número mayor de la lista es : " + str(max))

6
2
3
4
5
6
70
8
9
-10
La sumatoria de todos los elementos es: 103
La sumatoria de todos los elementos es: 103
El promedio de la lista es: 10.3
El número menor de la lista es : -10
El número mayor de la lista es : 70

# 2. Pandas - Dataframes

In [5]:
# importar la librería de pandas como pd
import pandas as pd

#Leer el dataframe salaries.csv
df = pd.read_csv("https://raw.githubusercontent.com/ulises1229/Intro-ML-Python/master/data/salaries.csv")

In [ ]:
# Revisar los primeros registros del df
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
# Revisar los últimos registros del df?

In [ ]:
# Comprobar el tipo de datos de la columna salary 
df['salary'].dtype

dtype('int64')

#### Atributos de dataframes

In [ ]:
# Comprobar el tipo de datos de todas las columnas
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
# Listar los nombres de las columnas
df.columns

In [ ]:
# Listar etiquetas de fila y nombres de columna
df.axes

In [ ]:
# Listar el número de dimensiones
df.ndim

In [ ]:
# Listar el número de  elementos totales
df.size

In [ ]:
# Devuelve una tupla con las dimensiones
df.shape

In [ ]:
# Representación en numpy de los datos
df.values

#### Métodos para dataframes

In [ ]:
df.iloc[0:50]

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960